NET "z" LOC = "p11"; # President, Signal name = SW0
NET "y" LOC = "L3"; # Teacher, Signal name = SW1
NET "x" LOC = "K3"; # Student1, Signal name = SW2
NET "w" LOC = "B4"; # Student2, Signal name = SW3

NET "a" LOC = "L14"; # Segment a, Signal name = CA
NET "b" LOC = "H12"; # Segment a, Signal name = CB
NET "c" LOC = "N14"; # Segment a, Signal name = CC
NET "d" LOC = "N11"; # Segment a, Signal name = CD
NET "e" LOC = "P12"; # Segment a, Signal name = CE
NET "f" LOC = "L13"; # Segment a, Signal name = CF
NET "g" LOC = "M12"; # Segment a, Signal name = CG

NET "n3" LOC = "F12"; # Annode 3, Signal name = AN3
NET "n2" LOC = "J12"; # Annode 2, Signal name = AN2
NET "n1" LOC = "M13"; # Annode 1, Signal name = AN1
NET "n0" LOC = "K14"; # Annode 0, Signal name = AN0